.section {
  text-align: left;
}

.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 8px 0;
}

.tag {
  background-color: rgba(var(--color-secondary-rgb), 0.9);
  color: var(--color-background);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
}
